{% extends 'base.html' %}
{% block title %}Create Product | DijiKala{% endblock %}

{% block content %}
<h2>🧾 Create Product</h2>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        <label for="id_name">Name</label>
        {{ form.name }}
    </div><br>

    <div class="form-group">
        <label for="description">Description</label>
        {{ form.description }}
    </div><br>

    <div class="form-group">
        <label for="id_price">price</label>
        {{ form.price }}
    </div><br>

    <div class="form-group">
        <label for="id_image">image</label>
        {{ form.image }}
    </div><br>

    <button type="submit" class="btn">Create Product</button>
</form>

{% endblock %}