{% extends 'base.html' %}
{% block title %}Create Store | DijiKala{% endblock %}

{% block content %}
<h2>🧾 Create Store</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
        <label for="id_name">Name</label>
        {{ form.name }}
    </div><br>

    <div class="form-group">
        <label for="description">Description</label>
        {{ form.description }}
    </div><br>

    <div class="form-group">
        <label for="id_location">Location</label>
        {{ form.location }}
    </div><br>

    <button type="submit" class="btn">Create Store</button>
</form>

{% endblock %}