{% extends 'base.html' %}
{% block title %}Customer Panel | DijiKala{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.is_seller == False %}
        <h2>👤 Customer Panel</h2>

        <div class="card" style="max-width: 400px;">
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Phone:</strong> {{ user.phone }}</p>
            <p><strong>Customer ID:</strong> {{ customer_profile.id }}</p>
            <p><strong>Balance:</strong> ${{ customer_profile.balance }}</p>

            <div style="margin-top: 10px;">
                <a href="{% url 'payment' %}" class="btn">💳 Increase Balance</a>
                <a href="{% url 'cart' %}" class="btn">🛒 View Cart</a>
                <a href="{% url 'order_history' %}" class="btn">📜 Order History</a>
            </div>
        </div>

    {% else %}
        <h3> ❌ Access Denied</h3><br>
        <p>Sellers are not allowed to access this page</p>
    {% endif %}
{% endif %}
{% endblock %}
