{% extends 'base.html' %}
{% load static %}
{% block title %}Home | DijiKala{% endblock %}

{% block content %}
<h2>🛒 Latest Products</h2>
<a href="{% url 'stores' %}">all stores</a>
<div class="card-grid">
    {% for product in products %}
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default_product.jpg' %}" alt="No image">
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description|truncatewords:12 }}</p>
            <p><strong>${{ product.price }}</strong></p>
            {% if user.is_authenticated %}
                {% if user.is_seller == False %}
                    <form method="POST" action="{% url 'add_to_cart' store_id=product.store.id product_id=product.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success mt-2">َAdd To Cart</button>
                    </form>
                {% endif %}
            {% else %}
                <p><a href="{% url 'login' %}">Login to Buy</a></p>
            {% endif %}
        </div>
    {% empty %}
        <p>No products yet!</p>
    {% endfor %}
</div>
{% endblock %}
