{% extends 'base.html' %}
{% block title %}Order History | Kaleido{% endblock %}

{% block content %}
{% if user.is_seller == False %}
    <h2>🛒 Orders</h2>

    {% if orders %}
        <table class="cart-table">
            <thead>
                <tr>
                    <th>Order ID</th>
                    <th>Products</th>
                    <th>Date</th>
                    <th>Order Status</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    {% if order.total_amount > 0 or order.orderitem.all %}
                        <tr>
                            <td>{{ order.id }}</td>
                            <td>
                            {% if order.orderitem.all %}
                                {% for item in order.orderitem.all %}
                                    {{ item.product.name }}<br>
                                {% endfor %}
                            {% else %}
                                <span style="color: gray;">(بدون محصول)</span>
                            {% endif %}
                            </td>
                            <td>{{ order.date|date:"Y.m.d" }}</td>
                            <td>{{ order.status }}</td>
                            <td>${{ order.total_amount }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>order history is empty.</p>
    {% endif %}
{% else %}
    <h3> ❌ Access Denied</h3><br>
    <p>Sellers are not allowed to access this page</p>
{% endif %}
{% endblock %}
