{% extends 'base.html' %}
{% load static %}
{% block title %}{{ product.name }} | DijiKala{% endblock %}

{% block content %}
<div class="store-header">
    <h2>{{ product.name }}</h2>
    <p>{{ product.description }}</p><br>
    <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default_product.jpg' %}" alt="No image">
            {% endif %}
            <p><strong>${{ product.price }}</strong></p>
            {% if user.is_authenticated %}
                {% if user.is_seller == False %}
                    <form method="POST" action="{% url 'add_to_cart' store_id=product.store.id product_id=product.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success mt-2">َAdd To Cart</button>
                    </form>
                {% else %}
                    <a class="btn" href="{% url 'edit_product' product.id %}">Edit Product</a>
                {% endif %}
            {% else %}
                <p><a class="btn" href="{% url 'login' %}">Login to Buy</a></p>
            {% endif %}
        </div>
{% endblock %}
