{% extends 'base.html' %}
{% block title %}Seller Panel | DijiKala{% endblock %}

{% block content %}
{% if user.is_authenticated %}
    {% if user.is_seller == True %}
        <h2>👨‍💼 Seller Panel</h2>
        <div class="card" style="max-width: 400px;">
            <p><strong>Last Name:</strong> {{ user.last_name }}</p>
            <p><strong>Phone:</strong> {{ user.phone }}</p>
            <p><strong>Balance:</strong> ${{ user.sellerprof.balance }}</p>
            
        </div>
        <a href="{% url 'create_store' %}" class="btn">+ Create New Store</a>

        <div class="card-grid" style="margin-top: 20px;">
            {% for store in stores %}
                <div class="card">
                    <h3>{{ store.name }}</h3>
                    <p>{{ store.description|truncatewords:15 }}</p>
                    <a href="{% url 'store_detail' store.id %}" class="btn">Manage Store</a>
                    <a href="{% url 'edit_store' store.id %}" class="btn">Edit Store Information</a>
                </div>
            {% empty %}
                <p>You have no stores yet.</p>
            {% endfor %}
        </div>
    {% else %}
        <h3> ❌ Access Denied</h3><br>
        <p>Customers are not allowed to access this page</p>
    {% endif %}
{% endif %}
{% endblock %}
