{% extends 'base.html' %}
{% load static %}
{% block title %}{{ store.name }} | DijiKala{% endblock %}

{% block content %}
<div class="store-header">
    <h2>{{ store.name }}</h2>
    <p>{{ store.description }}</p><br>

    {% if user == store.seller.user %}
        <a href="{% url 'add_product' store.id %}" class="btn">+ Add Product</a>
    {% endif %}
</div>

<hr>

<div class="card-grid">
    {% for product in store.product.all %}
        <div class="card">
            {% if product.image %}
                <img src="{{ product.image.url }}" alt="{{ product.name }}">
            {% else %}
                <img src="{% static 'images/default_product.jpg' %}" alt="No image">
            {% endif %}
            <h3>{{ product.name }}</h3>
            <p>{{ product.description|truncatewords:12 }}</p>
            <p><strong>${{ product.price }}</strong></p>

            {% if user.is_authenticated %}
                {% if user.is_seller == False %}
                    <form method="POST" action="{% url 'add_to_cart' store_id=store.id product_id=product.id %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="quantity">Quantity:</label>
                        <input type="number" name="quantity" id="quantity" value="1" min="1" max="1" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-success mt-2">َAdd To Cart</button>
                    </form>
                {% else %}
                    <a href="{% url 'edit_product' product.id %}">Edit Product</a>
                {% endif %}
            {% else %}
                <p><a href="{% url 'login' %}">Login to Buy</a></p>
            {% endif %}
        </div>
    {% empty %}
        <p>No products in this store yet.</p>
    {% endfor %}
</div>
{% endblock %}
